<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Perfil</title>
</head>
<body>
	<div layout:fragment="corpo">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-profile">
					<div class="card-avatar">
						<a href="#pablo"> 
							<img> 
						</a>
					</div>
					
					<div class="card-header card-header-icon card-header-info">
						<div class="card-icon">
							<i class="material-icons">perm_identity</i>
						</div>
					</div>

					<h6 class="card-category text-gray">PERFIL</h6>
					<h4 class="card-title text-gray"></h4>

					<div class="card-description text-justify col-sm-12 mt-3">
						<hr>
						<form>
						
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">
										<label class="bmd-label-floating font-italic">Nome</label>
										<input type="text" class="form-control" disabled>
									</div>
								</div>		
							</div>
							
							<hr>
							
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>