<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<title>Perfil</title>
</head>
<body>
	<div layout:fragment="corpo">
		<div class="content">
			<div class="container-fluid">			
				
				<div class="row">
				
					<div class="col-md-12">
						<form id="RegisterValidation" th:object="${usuario}" th:action="@{/perfil/save}"  method="POST">
						
							 
							
							<div class="card ">
								<div class="card-header  card-header-icon card-header-info">
									<div class="card-icon">
										<i class="material-icons">add_circle</i>
									</div>
									<h4 class="card-title">Perfil</h4>
								</div>
								
								<br />
								
								<div class="card-body ">
									<p class="card-category">campos obrigatorios <span style="color: red">*</span></p>
									
									 <div class="row">       
									 	<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
									
											<div class="profile_img" th:if="${usuario.imagem}">
												<div id="crop-avatar">
													<img class="img-responsive avatar-view" id="fotopreview"
														th:src="@{/perfil/image/{image_id}(image_id=${usuario.id})}"
														alt="Avatar" title="Mudar a foto"
														style="width: 200px; height: 100px">

												</div>
											</div>
											<div class="profile_img" th:unless="${usuario.imagem}">
												<div id="crop-avatar">
													<img class="img-responsive avatar-view" id="fotopreview"
														th:src="@{/imgs/user.png}" alt="Avatar"
														title="Mudar a foto" style="width: 200px; height: 300px">
												</div>
											</div>

											<br />
											
											<br />
	
											<div class="card-footer text-right">
												<button class="btn btn-info">Salvar Alterações</button>
											</div>					
										</div>
										
										<div class="col-md-9 col-sm-9 col-xs-12">
											<ul class="nav nav-tabs">
	          									<li><a href="#tab1" class="btn btn-secondary active" data-toggle="tab">Informações Básicas</a></li>
	          									<li><a href="#tab2"  class="btn btn-secondary" data-toggle="tab">Privacidade</a></li>
	        								</ul>
	        								 
	        								</br>
	        								 
	        								<div class="tab-content">
          										<div class ="tab-pane active" id="tab1">
        								
													<div class="col-md-8">
								                 		<div class="form-group">
								                        	<label for="usr">Nome<span style="color: red">*</span></label>
								                        	<input type="text" id="usr" th:value="${usuario.nome}" th:field="${usuario.nome}" class="form-control">
								                      		<small>Informe seu nome completo</small>
								                      	</div>                		
								                	</div>
								                	
								                	<div class="col-md-8">
								                 		<div class="form-group">
								                        	<label for="usr">Username<span style="color: red">*</span></label>
								                        	<input type="text" id="usr" th:value="${usuario.username}" th:field="${usuario.username}" class="form-control" >
								                      		<small>Lembre-se!! este é o nome no qual você fará login no sistema</small>
								                      	</div>                		
								                	</div>
								                
								                	<div class="col-md-8">
								                 		<div class="form-group">
								                        	<label for="usr">Email<span style="color: red">*</span></label>
								                        	<input type="text" id="usr" th:value="${usuario.email}" th:field="${usuario.email}" class="form-control">
								                       		<small>Endereço de email no qual entraremos em contao com você quando necessário</small>
								                       </div>                		
								                	</div>
								                	
								                	<div class="col-md-8">
								                        <label for="usr">Foto do Perfil<span style="color: red">*</span></label>
								                        <input class="form-control" type="file" id="uploadfoto" name="uploadfile">
								                       	<small>Escolha sua imagem preferida para pôr no perfil</small>		
								                	</div>
								                </div>
								                
								                <div class ="tab-pane" id="tab2">
								                
									            	<div class="col-md-8">
								                 		<div class="form-group">
								                        	<label for="usr">Senha Atual<span style="color: red">*</span></label>
								                        	<input type="password" id="usr" th:field="${usuario.senha}" class="form-control">
								                      		<small>Digite sua senha atual para poder por muda-la logo abaixo</small>
								                      	</div>                		
								                	</div>
								                	
								                	<div class="col-md-8">
								                 		<div class="form-group">
								                        	<label for="usr">Informe sua nova senha<span style="color: red">*</span></label>
								                        	<input type="password" id="usr" name="novaSenha" class="form-control">
								                      		<small>Digite sua nova senha para poder entrar no sistema</small>
								                      	</div>                		
								                	</div>
								                	
								                	<div class="col-md-8">
								                 		<div class="form-group">
								                        	<label for="usr">Informe sua nova senha<span style="color: red">*</span></label>
								                        	<input type="password" id="usr" name="confirmeSenha" class="form-control">
								                      		<small>Confirme sua sua nova senha para poder entrar no sistema</small>
								                      	</div>                		
								                	</div>
									          	</div>
					                		</div>
					                	</div>
									 
									 </div>
								</div>
												
							</div>
						</form>						
					</div>
				</div>				
			</div>
		</div>
	</div>
		<script type="text/javascript">
		$(document).ready(function() {

			//script para mudar foto do perfil
			var uploadfoto = document.getElementById('uploadfoto');
			var fotopreview = document.getElementById('fotopreview');

			uploadfoto.addEventListener('change', function(e) {
				showThumbnail(this.files);
			});

			function showThumbnail(files) {
				if (files && files[0]) {
					var reader = new FileReader();

					reader.onload = function(e) {
						fotopreview.src = e.target.result;
					}

					reader.readAsDataURL(files[0]);
				}
			}
			//End script foto
		});
	</script>
</body>
</html>