<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<footer th:fragment="rodape" class="footer_part">
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-lg-8">
				<div class="copyright_text">
					<P>
						ClassQuest &copy Seu site
						<script>
							document.write(new Date().getFullYear());
						</script>
						| Todos os direitos reservados.
					</P>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="footer_icon social_icon">
					<ul class="list-unstyled">
						<li>
							<a href="#" class="single_social_icon"> 
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li><a href="#" class="single_social_icon"> <i
								class="fab fa-twitter"></i></a></li>
						<li><a href="#" class="single_social_icon"> <i
								class="fas fa-globe"></i></a></li>
						<li><a href="#" class="single_social_icon"> <i
								class="fab fa-behance"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
</html>