<!DOCTYPE html>

<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<!-- Modal de saida------------------------------------------------------ -->

<div th:fragment="modal" class="modal fade" id="logoutModal"
	tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="  text-gray-600 fas fa-sign-out-alt"></i></h5>

				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">Selecione Sair ou Cancelar</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
				<a class="btn btn-primary" th:href="@{/sair}">Sair</a>
			</div>
		</div>
	</div>
</div>

<div th:fragment="modalEmail" class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			
				<h5 class="modal-title" id="exampleModalLabel">
					<i class="email fas fa-2x fa-envelope"></i>
				</h5>

				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">
				<form class="user" method="post" th:action="@{/appservice/email}">
				     <div class=" form-group row">
						<div class="col-sm-12 mb-sm-0 ">
							<label>Título<span class="t-required "> *</span></label>
							 <input type="text" th:name="subject" class="form-control form-control-user " placeholder="" required>
						</div>
					</div>
					
					<div class=" form-group row">
						<div class="col-sm-12 mb-sm-0 ">
							<label>Destinatário<span class="t-required "> *</span></label>
							 <input type="email" name="to" class="form-control form-control-user " placeholder="" required>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12 mb-3 mb-sm-0">
							<label>Assunto<span class="t-required "> *</span></label>
							<textarea  th:name="text" rows="2" class="md-textarea form-control form-control-user">
							</textarea>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col-sm-12">
							<button type="submit"
								class="btn btn-primary btn-user btn-block col-sm-12">Enviar</button>
						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn btn-secondary btn-user" type="button"
					data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

</html>